{% extends "layout.html" %}
{% block title %}{{ item.name }}{% endblock %}
{% block content %}
    <div class="mdl-grid">
    </div>
    <div class="mdl-grid">
        <div class="mdl-card mdl-cell mdl-cell--12-col mdl-cell--8-col-tablet mdl-shadow--2dp">
            <figure class="mdl-card__media sophia-card_item">
                {% if item.image_filename != none %}
                <img src="{{ url_for('show_item_image', filename=item.image_filename) }}" />
                {% elif item.image_url != none %}
                <img src="{{ item.image_url }}"/>
                {% else %}
                <div class="sophia-card_no_image">No image</div>
                {% endif %}
            </figure>
            <div class="mdl-card__title">
                <h2 class="mdl-card__title-text">{{ item.name }}</h2>
                {% for category in categories if item.category_id == category.id %}
                <div class="mdl-card__subtitle-text"><em>({{ category.name }})</em></div>
                {% endfor %}
            </div>
            <div class="mdl-card__supporting-text">
                {{ item.description }}
                {% if item.quantity != none %}
                <h6>Number of Papers: {{ item.quantity }}</h6>
                {% endif %}
                <p><em>Added by: {{ owner_name }}</em></p>
            </div>
            {% if 'username' in session %}
            <div class="mdl-card__actions mdl-card--border">
                <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" href="{{ url_for('edit_item', item_name=item.name) }}">
                    Edit
                </a>
                <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" href="{{ url_for('delete_item', item_name=item.name) }}">
                    Delete
                </a>
            </div>
            {% endif %}
        </div>
    </div>
    {% include "add_item_button.html" %}
{% endblock %}
